<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/jeopardy.css" type="text/css" />
    <title>Jeopardy!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> {{!-- Chosen CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="http://localhost:8080/js/jeopardy.js" type="text/javascript"></script>
    <script src="http://localhost:8080/js/leaderboard.js" type="text/javascript"></script>

</head>

<body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li>
            <a href="#!">one</a>
        </li>
        <li>
            <a href="#!">two</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#!">three</a>
        </li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Welcome To Jeopardy!</a>
            <ul class="right hide-on-med-and-down">

                <!-- Dropdown Trigger -->
                <li>
                    <a class="submit-button" href="category" data-activates="dropdown1">Play Jeopardy</a>
                </li>
                <li>
                    <a class="submit-button" href="#!" data-activates="dropdown1">Leaderboard</a>
                </li>
                <li>
                    <a class="submit-button" href="#!" data-activates="dropdown1">Game Credits</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{ body }}}
</body>

</html>