
<div class="category-container">
<h1 id="catSelect">Select Your Category</h1>

<div class="row">
    <div class="col s3 ">
<a id="categorybutton" categoryid="780" class="categorybutton waves-effect waves-light btn-large card-panel blue darken-2" value="americanhistory" href="game/780">American History</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="752" class="waves-effect waves-light btn-large card-panel blue darken-2" value="magazines" href="game/752">Magazines</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="1559" class="waves-effect waves-light btn-large card-panel blue darken-2" value="art" href="game/1559">Art</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="42" class="waves-effect waves-light btn-large card-panel blue darken-2" value="sports" href="game/42">Sports</a></div>
</div>

<div class="row">
<div class="col s3 ">
<a id="categorybutton" categoryid="428" class="waves-effect waves-light btn-large card-panel blue darken-2" value="inthenews" href="game/428">In the News</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="309" class="waves-effect waves-light btn-large card-panel blue darken-2" value="movies" href="game/309">Movies</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="65" class="waves-effect waves-light btn-large card-panel blue darken-2" value="music" href="game/65">Music</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="253" class="waves-effect waves-light btn-large card-panel blue darken-2" value="foodanddrink" href="game/253">Food and Drink</a></div>
</div>

<div class="row">
    <div class="col s3 ">
<a id="categorybutton" categoryid="218" class="waves-effect waves-light btn-large card-panel blue darken-2" value="scienceandnature" href="game/218">Science and Nature</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="109" class="waves-effect waves-light btn-large card-panel blue darken-2" value="statecapitals" href="game/109">State Capitals</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="21" class="waves-effect waves-light btn-large card-panel blue darken-2" value="animals" href="game/21">Animals</a></div>
<div class="col s3 ">
<a id="categorybutton" categoryid="440" class="waves-effect waves-light btn-large card-panel blue darken-2" value="thehumanbody" href="game/440">The Human Body</a></div>
    
</div>

</div>
