<div class="category-container">
<h1 id="catSelect">Select Your Category</h1>

<div class="row">
    <div class="col s3 ">
<a id="780" class="waves-effect waves-light btn-large" href="game">American History</a></div>
<div class="col s3 ">
<a id="752" class="waves-effect waves-light btn-large" href="game">Magazines</a></div>
<div class="col s3 ">
<a id="1559" class="waves-effect waves-light btn-large" href="game">Art</a></div>
<div class="col s3 ">
<a id="42" class="waves-effect waves-light btn-large" href="game">Sports</a></div>
</div>

<div class="row">
    <div class="col s3 ">
<a id="428" class="waves-effect waves-light btn-large" href="game">In the News</a></div>
<div class="col s3 ">
<a id="309" class="waves-effect waves-light btn-large" href="game">Movies</a></div>
<div class="col s3 ">
<a id="65" class="waves-effect waves-light btn-large" href="game">Music</a></div>
<div class="col s3 ">
<a id="253" class="waves-effect waves-light btn-large" href="game">Food and Drink</a></div>
</div>

<div class="row">
    <div class="col s3 ">
<a id="218" class="waves-effect waves-light btn-large" href="game">Science and Nature</a></div>
<div class="col s3 ">
<a id="109" class="waves-effect waves-light btn-large" href="game">State Capitals</a></div>
<div class="col s3 ">
<a id="21" class="waves-effect waves-light btn-large" href="game">Animals</a></div>
<div class="col s3 ">
<a id="440" class="waves-effect waves-light btn-large" href="game">The Human Body</a></div>
    
</div>

</div>


  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>