

<div class="ques-container">

    <h1>Name of Category</h1>
<div class="row">
    
<a class=" cat waves-effect waves-light btn-large blue modal-trigger" href="#modal1">200</a></div>
<div class="row">
    
<a class=" cat waves-effect waves-light btn-large">400</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">600</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">800</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">1000</a></div>
<div class="row">
<h1>Double Jeopardy</h1>

<a class="cat waves-effect waves-light btn-large">400</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">800</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">1200</a></div>
<div class="row">
    
<a class="cat waves-effect waves-light btn-large">1600</a></div>
<div class="row">
   
<a class="cat waves-effect waves-light btn-large">2000</a></div>
    
</div>

</div>
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

