
<script src="http://localhost:8080/js/game.js" type="text/javascript"></script>
<div id="categoryID" style="display: none;">{{questions}}</div>

<div class="ques-container">

<h1>Name of Category</h1>

<div class="row">
{{!-- modal trigger --}}

<a class="waves-effect waves-light btn-large modal-trigger card-panel blue darken-2" href="#modal1">200</a>

<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$200 Question</h4>
      <p id="question200"></p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
    </div>
    <div class="modal-footer">

      <a href="#!" id="submitbutton" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>

    </div>
    </div>

</div>
</div>
<div class="row">

{{!-- modal trigger --}}
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal2" id="q-400">400</a>
<!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$400 Question</h4>
      <p>These dogs represent the teams of both Northeastern University and UConn</p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="sub-btn2" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
</div>
<div class="row">
{{!-- modal trigger --}}
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal3" id="q-600">600</a>
<!-- Modal Structure -->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$600 Question</h4>
      <p>These dogs represent the teams of both Northeastern University and UConn</p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="sub-btn3" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
</div>
<div class="row">
{{!-- modal trigger --}}
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal4" id="q-800">800</a>
<!-- Modal Structure -->
  <div id="modal4" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$800 Question</h4>
      <p>These dogs represent the teams of both Northeastern University and UConn</p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="sub-btn4" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
</div>

<div class="row">
{{!-- modal trigger --}}
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal5" id="q-1000">1000</a>
<!-- Modal Structure -->
  <div id="modal5" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$1000 Question</h4>
      <p>These dogs represent the teams of both Northeastern University and UConn</p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="sub-btn5" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
</div>
<h1>Double Jeopardy</h1>

<div class="row">
{{!-- modal trigger --}}
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal6" id="dbl-q-400">400</a>
<!-- Modal Structure -->
  <div id="modal6" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>$400 Question</h4>
      <p>These dogs represent the teams of both Northeastern University and UConn</p>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="answer" type="text" class="validate">
          <label for="Answer">Answer</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="sub-btn6" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
</div>
<div class="row">
    
<a class="waves-effect waves-light btn-large model-trigger"href="#modal1" id="q-800">800</a></div>
<div class="row">
    
<a class="waves-effect waves-light btn-large model-trigger"href="#modal1" id="q-1200">1200</a></div>
<div class="row">
    
<a class="waves-effect waves-light btn-large model-trigger"href="#modal1" id="q-1600">1600</a></div>
<div class="row">
   
<a class="waves-effect waves-light btn-large model-trigger"href="#modal1" id="q-2000">2000</a></div>

    
</div>

<div id="see-score">
<a class="card-panel red darken-2" href="../contestant-info">See your Score</a>
</div>

<script>
   $(document).ready(function () {
       $('#modal1').modal();
       $("#sub-btn1").click(function () {
           var text = $("#modal1").text();
           console.log("worked" + text);
           $("#q-200").removeClass("modal-trigger");

       })

       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    
   });

   $(document).ready(function () {
       $('#modal2').modal();
       $("#sub-btn2").click(function () {
           var text = $("#modal2").text();
           console.log("worked" + text);
           $("#q-400").removeClass("modal-trigger");

       })

       
       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    

   });

   $(document).ready(function () {
       $('#modal3').modal();
       $("#sub-btn3").click(function () {
           var text = $("#modal3").text();
           console.log("worked" + text);
           $("#q-600").removeClass("modal-trigger");

       })

       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    
   });

    $(document).ready(function () {
       $('#modal4').modal();
       $("#sub-btn4").click(function () {
           var text = $("#modal4").text();
           console.log("worked" + text);
           $("#q-800").removeClass("modal-trigger");

       })

       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    
   });
   
    $(document).ready(function () {
       $('#modal5').modal();
       $("#sub-btn5").click(function () {
           var text = $("#modal5").text();
           console.log("worked" + text);
           $("#q-1000").removeClass("modal-trigger");

       })

       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    
   });

   
    $(document).ready(function () {
       $('#modal6').modal();
       $("#sub-btn6").click(function () {
           var text = $("#modal6").text();
           console.log("worked" + text);
           $("#dbl-q-400").removeClass("modal-trigger");

       })

       // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
           window.onbeforeunload = function() {
       return;
   }
    
   });
</script>   

        <a class="cat waves-effect waves-light btn-large">800</a>
    </div>
    <div class="row">

        <a class="cat waves-effect waves-light btn-large">1200</a>
    </div>
    <div class="row">

        <a class="cat waves-effect waves-light btn-large">1600</a>
    </div>
    <div class="row">

        <a class="cat waves-effect waves-light btn-large">2000</a>
    </div>

</div>

<a class="button green" href="../contestant-info">See your Score</a>