<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Welcome To Jeopardy!</a>
    <ul class="right hide-on-med-and-down">
      
      <!-- Dropdown Trigger -->
      <li><a class="submit-button" href="category" data-activates="dropdown1">Play Jeopardy</a></li>
       <li><a class="submit-button" href="#!" data-activates="dropdown1">Leaderboard</a></li>
        <li><a class="submit-button" href="#!" data-activates="dropdown1">Game Credits</a></li>
    </ul>
  </div>
</nav>




<div class="farrell-pic">
        <div class="col s12 m7">
          <div class="card">
              <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-image">
              <img src="/assets/img/will_farrell.jpg">
              
            </div>
            
            <div class="card-action">
              <a href="#">Play Jeopardy</a>
            </div>
          </div>
        </div>
      </div>