


<div class="farrell-pic">
        <div class="col s12 m7">
          <div class="card">
              <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-image">
              <img src="/assets/img/will_farrell.jpg">
              
            </div>
            
            <div class="card-action">
              <a href="category">Play Jeopardy</a>
            </div>
          </div>
        </div>
      </div>
