


<div class="farrell-pic">
        <div class="col s12 m7">
          <div class="card">
              <div class="card-content">
              <p>Welcome to "Celebrity Jeopardy". Let's take a look at the scores. Sean Connery has set a new "Jeopardy" record with -$230,000.</p>
            </div>
            <div class="card-image">
              <img src="/assets/img/will_farrell.jpg">
              
            </div>
            <div id="play">
            <div class="jeopardyButton">
              <a href="category">Play Jeopardy</a>

          
                

            </div>
            </div>
          </div>
        </div>
      </div>


<script>var audio = new Audio('/assets/audio/jepor.mp3');
audio.play();</script>


