body {
    background-image: url('https://media.giphy.com/media/4OoRez1xBvyz6/giphy.gif');
    background-size: cover;
    background-position: center;
}


.nav-wrapper {
    background:rgb(2, 41, 189);
}

.card-content {
    text-align: center;
}

.card-image {
    text-align: center;
}

.farrell-pic {
    text-align: center;
}

#catSelect {
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
}

.btn-large {
    width: 90%;
    height: 140px;
    background-color: blue;
}

.ques-container {
    width: 60%;
    text-align: center;
    margin-left: 250px;
}

.green {
    text-align: center;
}

.card-content {
    text-align: center;

}

.card .card-image {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.waves-effect {
    background: blue;
}

#see-score {
    text-align: center;
    color: white;
}

#leadboard {
    font-size: 40px;
}

.brand-logo {
    margin-left: 20px;
    font-style: italic;
    text-shadow: 2px 2px rgb(0, 0, 78);
}

#categoryNav, #leaderboardNav, #creditsNav {
    font-style: italic;
    text-shadow: 2px 2px rgb(0, 0, 78);
}

.fadeButton { 
    text-shadow: 3px 3px rgb(0, 0, 78);
    text-align: center;
    line-height: 3em;
}

.card-action {
    background-color: rgb(7, 7, 180);
    font-size: 40px;
}
.jeopardyButton {
    color:#0b24fb !important;
    font-size: 50px;
    font-style: bold;
}

.new-item {
    text-align: center;
}

.category-container {
    text-align: center;
    margin-bottom: 20px;
   
}

h2 {
    color: blue;
}

.red.darken-2 {
    color: white;
    font-size: 20px;
}

p {
    font-size: 30px;
}

.modal-trigger {
    background: blue !important;
}
 
.categoryButton {
    background: blue !important;
    height: 120px !important;
}
.card {
    background: lightblue !important;
    height: 100%;

}

.btn-large {
    font-size: 30px !important;
    margin-top: auto;
    margin-bottom: auto;

}

#welcomeMessage {
    color: #039be5;
    text-shadow: .5px .5px white;
    font-style: oblique;
}

#playText {
    color: #039be5 !important;
    text-shadow: 2px 2px rgb(150, 207, 253);
}

#homeImage {
    padding-top: 50px;
}

#magazines, #art, #sports, #movies, #inthenews, #movies, #music, #statecapitals, #animals {
    line-height: 120px;
}

#leaderboardTable {
    color: rgba(255, 255, 255, 0.884);
}

#pickCategory {
    background: transparent !important;
    padding-bottom: 50px;
}

#leaderboardPrompt {
    color: #039be5 !important;
    
}

#dbljeop {
    color: rgba(255, 255, 255, 0.884);
}

#submitscorebutton {
    background: #039be5 !important;
    border-radius: 10px;
}

#categoryHeader {
    color:  rgba(255, 255, 255, 0.884);
}

#contestantInfoCard {
    background: transparent !important;
}

#nameEntry{
    background: grey; 
    color: black;
    border-radius: 10px;
}

#authors {
    color:  rgba(255, 255, 255, 0.884);
}

#moneyDisplay {
    color: rgba(255, 255, 255, 0.884) !important;
}