body {
    background: lightblue;
}


.nav-wrapper {
    background: blue;
}

.card-content {
    text-align: center;
}

.card-image {
    text-align: center;
}

.farrell-pic {
    text-align: center;
}

#catSelect {
    text-align: center;
}

.btn-large {
    width: 90%;
    height: 140px;
    background-color: blue;
}

.ques-container {
    width: 60%;
    text-align: center;
    margin-left: 250px;
}

.green {
    text-align: center;
}

.card-content {
    text-align: center;

}

.card .card-image {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.wavese-effect {
    background: blue;
}

#see-score {
    text-align: center;
    color: white;
}

#leadboard {
    font-size: 40px;
}

.brand-logo {
    margin-left: 20px;
}

.card-action {
    background-color: blue;
    font-size: 40px;
}
.jeopardyButton {
    color:#0b24fb !important;
    font-size: 50px;
    font-style: bold;
}

.new-item {
    text-align: center;
}

.category-container {
    text-align: center;
    margin-bottom: 20px;
   
}

h2 {
    color: blue;
}

.red.darken-2 {
    color: white;
    font-size: 20px;
}

p {
    font-size: 30px;
}

.modal-trigger {
    background: blue !important;
}
 
.categoryButton {
    background: blue !important;
    height: 120px !important;
}
.card {
    background: lightblue !important;
    height: 100%;
}

.btn-large {
    font-size: 30px !important;
    margin-top: auto;
    margin-bottom: auto;

}


